.loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 15050 !important;
   text-align: center;
}
.loading-image {
	position: absolute;
  	left: 50%;
  	top: 50%;
  	margin-left: -32px; /* -1 * image width / 2 */
  	margin-top: -32px; 
}
